/*
* @Author: lenovo
* @Date:   2017-12-30 23:47:41
* @Last Modified by:   lenovo
* @Last Modified time: 2018-01-01 21:35:00
*/
*{
	margin: 0;
	padding: 0;
	list-style: none
}
a{
	text-decoration: none;
}